<ion-view>
	<ion-content>
		<div class="courseInfo">
			<div class="coursehead p-r">
				<div class="p-a back_img ta-c" ng-click='back()' nav-direction="back">
					<span class='ion-arrow-return-left'></span>
				</div>
				<p class='courseName p-a' ng-bind='courseName'></p>
			</div>
			<div class="course_intro">授课老师:
				<strong>{{teacherName}}</strong>
			</div>
			<div class="outline">
				<p class='outline_title'>课程内容</p>
				<div class="course_content">
					<p class='tests o-h' ng-click='goTest(item)' ng-repeat='item in testList'>
						<strong class='f-l test-title' ng-bind='item.testName'></strong>
						<span class='f-r test-status-success' ng-bind='item.testStatus' ng-class="{'test-status-error':item.testStatus==='未完成','test-status-success':item.testStatus==='已完成'}">
						</span>
					</p>
				</div>
				<!-- <div class='outline_content' ng-repeat='item in outlinelist'>
					<p class='chapter' ng-bind='item.title'></p>
					<div class="content_video" ng-repeat='obj in item.content'>
						<p class="video_title" ng-bind='obj.name' ng-click='selfName?learn():login()'></p>
					</div>
				</div> -->
			</div>
		</div>
	</ion-content>
</ion-view>>