<div class="listhead p-f" ng-style='backstyle' nav-direction="back">
	<div class="p-a headBtn backBtn ta-c" ng-click='back()'>
		<span class='ion-ios-undo'></span>
	</div>
	<div class="p-a headBtn searchBtn back_img ta-c" ng-click='search()'>
		<span class='icon ion-search'></span>
	</div>
	<div class="course_title ta-c">
		<p class="b_title ta-c">
			<span class='va-m'>大数据资源网</span>
			<span class='ion-university va-m'></span>
		</p>
		<p class="s_title ta-c" ng-bind='stitle'></p>
	</div>
</div>