.exercise{
	.exercise-head{
		.h(35);
		.lh(35);
		.pl(10);
		.pr(10);
	    background-color: rgba(0,0,0,0.6);
		.back-btn{
			color:#fff;
		}
		.exer-time{
			color:#0aa770;
		}
	}
	.exercise-title{
		.h(40);
		.lh(40);
		.pl(10);
		.pr(10);
		background-color: #d0d0d0;
		.titles{
			font-size:16px;
		}
		.exer-process{
			color:#555;
			.finish{
				color:#0aa770
			}
		}
	}
	.exercise-content{
		.pt(25);
		.pl(15);
		.pr(15);
		.fs(15);
		.lh(22);
		.exer-title{
			.pb(18);
			.exerType{
				color:#0aa770;
				.mr(8);
			}
		}
		.exer-option{
			.lh(30);
		}
	}
	.btns{
		width:100%;
		bottom:0;
		left:0;
		.h(45);
		.lh(45);
		.fs(0);
		background-color: rgba(0,0,0,0.6);
		div{
			color:#0aa770;
			width:50%;
			.fs(15);
			.pre{
				.mr(10);
			}
			.next{
				.ml(10);
			}
		}
	}
}